* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$grey: #606060 ;
$black: #000000 ;
$violet: #8b26db ;
$yellow: #d4b70a ;

$px: 50px ;
$s-px: 15px ;

.bold {
  font-weight: 700;
}

body {
  font-family: "Montserrat", sans-serif;
}
