#contact {
  min-height: 100dvh;
  background-color: rgba($color: $grey, $alpha: .15);
  padding: 80px $s-px;
  display: flex;
  flex-direction: column-reverse;
  gap: 42px;
  
  @media (min-width: 992px) {
    padding: 80px $px;
    flex-direction: row;
    gap: 0px;
  }

  article {
    width: 100%;
    
    @media (min-width: 992px) {
      width: 50%;
    }
  }

  .contacts-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h3 {
      font-weight: 600;
      font-size: 17px;
    }
    
    h5 {
      font-weight: 400;
      font-size: 14px;
    }

    .bottom-line {
      margin-top: 15px;
      height: 1.5px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: .6);
      width: 90%;
    }
  }


  a {
    color: inherit;
    text-decoration: none;
  }

  h2 {
    font-size: 31px;
    font-weight: 500;

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(.5);
        background-color: black;
      }
    }
  }
  
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .form-control-flex {
    display: flex;
    gap: 18px;
  }

  .form-control {
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    background-color: white;
  } 

  .form-area {
    // min-height: 100px;
    height: 100px;
    background-color: white;
  }

  input, textarea {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border: 1.5px solid rgba($color: #000000, $alpha: .21);
    border-radius: 4px;
    padding: 5px 10px;
    resize: vertical;
    color: inherit;
    background: transparent;

    &::placeholder {
      color: rgba($color: #000000, $alpha: .4);
    }
  }

  .form-submit {
    background-color: $violet;
    border-radius: 4px;
    width: 60%;
    align-self: flex-end  ;
    color: white;
    // border: none;

    input {
      border: none;
      font-weight: 600;
    }
  }


}