#hero {
  min-height: 100dvh;
  background-image: linear-gradient(to left, black, rgb(41, 39, 39));
  color: white;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 100px ;
  overflow: hidden;

  @media (min-width: 992px) {
    flex-direction: row;
    padding-top: 0;
  }

  div {
    flex-grow: 1;
    width: 100%;
    
    @media (min-width: 992px) {
      width: 50%;
    }
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    padding-left: $s-px ;
    padding-right: $s-px ;
    margin-bottom: 30px;
    
    @media (min-width: 992px) {
      padding-left: $px ;
      padding-right: 0;
      margin-bottom: 0px;
    }

    h1 {
      font-size: 30px;
      line-height: 1;
      font-weight: 300;
      // font-style: italic ;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      color: $yellow;
      
      @media (min-width: 992px) {
        font-size: 50px;
      }
    }

    p {
      text-align: justify;
    }
  }

  .hero-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

    @media (min-width: 992px) {
      height: auto;
    }

    .hero-img-container {
      height: 75%;
      position: relative;
      display: flex;
      justify-content: center;
      
      img {
        height: 100%;
        position: absolute;
        transition: all .85s ease-out;

        &:nth-of-type(1) {
          transform: translateX(-200px);  
          opacity: 0;
        }
        
        &:nth-of-type(2) {
          transform: translateX(200px);
          opacity: 0;  
        }
      }

      .hero-initial {
        transform: translateX(0) !important;
        opacity: 1 !important;
      }
    }
    
  }

}