@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.bold {
  font-weight: 700;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 60px;
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  overflow: hidden;
}
@media (min-width: 992px) {
  header {
    padding: 0 50px;
    top: 30px;
    overflow: visible;
  }
}
header .logo-container {
  display: block;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}
header .logo-container img {
  height: 100%;
}
@media (min-width: 992px) {
  header .logo-container img {
    height: 150%;
  }
}
header ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  gap: 25px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  transform: translateX(100%);
  transition: transform 0.35s ease-out;
}
@media (min-width: 992px) {
  header ul {
    padding-top: 0px;
    position: static;
    flex-direction: row;
    background: transparent;
    transform: translateX(0) !important;
  }
}
header ul .close {
  position: absolute;
  right: 10px;
  top: 10px;
}
@media (min-width: 992px) {
  header ul .close {
    display: none;
  }
}
header ul .close svg {
  width: 25px;
  height: 25px;
}
header ul a {
  color: black;
  color: #d4b70a;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}
header ul a::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #d4b70a;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform ease 0.35s;
}
header ul a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
header .list-open {
  transform: translateX(0);
}
header .menu-burger {
  display: block;
}
@media (min-width: 992px) {
  header .menu-burger {
    display: none;
  }
}
header .menu-burger path {
  stroke: white;
}
header .menu-burger svg {
  width: 30px;
  height: 30px;
}

#hero {
  min-height: 100dvh;
  background-image: linear-gradient(to left, black, rgb(41, 39, 39));
  color: white;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 100px;
  overflow: hidden;
}
@media (min-width: 992px) {
  #hero {
    flex-direction: row;
    padding-top: 0;
  }
}
#hero div {
  flex-grow: 1;
  width: 100%;
}
@media (min-width: 992px) {
  #hero div {
    width: 50%;
  }
}
#hero .hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  #hero .hero-text-container {
    padding-left: 50px;
    padding-right: 0;
    margin-bottom: 0px;
  }
}
#hero .hero-text-container h1 {
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #d4b70a;
}
@media (min-width: 992px) {
  #hero .hero-text-container h1 {
    font-size: 50px;
  }
}
#hero .hero-text-container p {
  text-align: justify;
}
#hero .hero-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
@media (min-width: 992px) {
  #hero .hero-img-wrapper {
    height: auto;
  }
}
#hero .hero-img-wrapper .hero-img-container {
  height: 75%;
  position: relative;
  display: flex;
  justify-content: center;
}
#hero .hero-img-wrapper .hero-img-container img {
  height: 100%;
  position: absolute;
  transition: all 0.85s ease-out;
}
#hero .hero-img-wrapper .hero-img-container img:nth-of-type(1) {
  transform: translateX(-200px);
  opacity: 0;
}
#hero .hero-img-wrapper .hero-img-container img:nth-of-type(2) {
  transform: translateX(200px);
  opacity: 0;
}
#hero .hero-img-wrapper .hero-img-container .hero-initial {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

#about-us {
  height: 70dvh;
  perspective: 1000px;
  overflow: hidden;
  position: relative;
  padding: 40px 15px;
}
@media (min-width: 992px) {
  #about-us {
    padding: 40px 50px;
    height: 100dvh;
  }
}
#about-us h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #d4b70a;
}
@media (min-width: 992px) {
  #about-us h1 {
    font-size: 40px;
  }
}
#about-us h1 span {
  position: relative;
}
#about-us h1 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5px;
  transform: scaleX(0.5);
  background-color: #d4b70a;
}
#about-us img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about-us .flip-card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
}
#about-us .flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
#about-us .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
#about-us .flip-card-front, #about-us .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#about-us .flip-card-front {
  background-color: #bbb;
  color: black;
  transform: rotateY(0deg); /* Assure que la face avant est visible initialement */
}
#about-us .flip-card-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}
#about-us .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 0 15px;
}
@media (min-width: 992px) {
  #about-us .text-overlay {
    padding: 0 50px;
  }
}
#about-us .front-text {
  z-index: 1;
}
#about-us .back-text {
  z-index: 0;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 992px) {
  #about-us .back-text {
    gap: 30px;
  }
}
#about-us .back-text p {
  font-size: 14px;
  text-align: justify;
}
@media (min-width: 992px) {
  #about-us .back-text p {
    font-size: 20px;
  }
}

footer {
  background-image: linear-gradient(to left, black, rgb(41, 39, 39));
  color: white;
  padding: 30px 15px;
}
@media (min-width: 992px) {
  footer {
    padding: 30px 50px;
  }
}
footer .separator {
  margin: 25px 0;
  height: 1px;
  background-color: white;
}
footer img {
  height: 100px;
}
footer ul {
  list-style-type: none;
}
footer a {
  color: inherit;
}
footer section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 992px) {
  footer section {
    justify-content: space-between;
    flex-direction: row;
    gap: 0px;
  }
}
footer section h1 {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 600;
}
footer section h3 {
  font-weight: 500;
  margin-bottom: 15px;
}
footer section ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
footer section .contact li a {
  text-decoration: none;
}
footer section .contact li span:nth-of-type(1) {
  font-weight: 700;
  position: relative;
}
footer section .contact li span:nth-of-type(1)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0.5);
  transform-origin: left;
}
footer svg {
  height: 25px;
  width: 25px;
  fill: white;
}
@media (min-width: 992px) {
  footer svg {
    height: 35px;
    width: 35px;
  }
}
footer svg path {
  fill: white;
}

#services {
  background-color: white;
  min-height: 100dvh;
  padding: 80px 15px;
}
@media (min-width: 992px) {
  #services {
    padding: 80px 50px;
  }
}
#services h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #d4b70a;
}
@media (min-width: 992px) {
  #services h1 {
    font-size: 40px;
  }
}
#services h1 span {
  position: relative;
}
#services h1 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5px;
  transform: scaleX(0.5);
  background-color: #d4b70a;
}
#services h3 {
  margin-bottom: 9px;
  text-transform: uppercase;
}
#services article {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 26px;
  column-gap: 18px;
}
@media (min-width: 992px) {
  #services article {
    grid-template-columns: repeat(3, 1fr);
  }
}
#services .service-img-container {
  height: 160px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#services .service-img-container svg {
  height: 100%;
}

#values {
  display: flex;
  flex-direction: column-reverse;
  gap: 21px;
  min-height: 100dvh;
  padding-left: 35px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  #values {
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    gap: 0px;
    padding-bottom: 0px;
  }
}
#values img {
  width: 90%;
}
#values article {
  width: 100%;
}
@media (min-width: 992px) {
  #values article {
    width: 50%;
  }
}
#values article:nth-of-type(2) h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #d4b70a;
  text-align: center;
}
@media (min-width: 992px) {
  #values article:nth-of-type(2) h1 {
    text-align: left;
  }
}
#values article:nth-of-type(2) h1 span {
  position: relative;
}
#values article:nth-of-type(2) h1 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0.5);
  background-color: #d4b70a;
}
#values article:nth-of-type(2) ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}
#values article:nth-of-type(2) ul li {
  text-align: justify;
  padding-right: 50px;
  line-height: 1.5;
  position: relative;
}
#values article:nth-of-type(2) ul li::before {
  content: url("./../images/check-circle.svg");
  position: absolute;
  left: -22px;
  top: 4px;
  display: block;
  width: 40px;
  height: 40px;
}
#values article:nth-of-type(2) ul li span:nth-of-type(1) {
  font-weight: 600;
  position: relative;
  color: #8b26db;
}
#values article:nth-of-type(2) ul li span:nth-of-type(1)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #8b26db;
}

#missions_objectives {
  background-color: white;
  background-color: rgba(96, 96, 96, 0.15);
  padding: 80px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
@media (min-width: 992px) {
  #missions_objectives {
    padding: 80px 50px;
  }
}
#missions_objectives h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
@media (min-width: 992px) {
  #missions_objectives h1 {
    font-size: 40px;
  }
}
#missions_objectives h1 span {
  position: relative;
}
#missions_objectives h1 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5px;
  transform: scaleX(0.5);
  background-color: black;
}
#missions_objectives section {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 992px) {
  #missions_objectives section {
    flex-direction: row;
  }
}
#missions_objectives section:nth-of-type(1) {
  margin-bottom: 9px;
}
#missions_objectives section article {
  width: 100%;
}
@media (min-width: 992px) {
  #missions_objectives section article {
    width: 50%;
  }
}
#missions_objectives section article h2 {
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 25px;
}
#missions_objectives section article p {
  text-align: justify;
  font-size: 20px;
}
#missions_objectives .svg-container {
  height: 300px;
  margin-bottom: 21px;
}
#missions_objectives .svg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#contact {
  min-height: 100dvh;
  background-color: rgba(96, 96, 96, 0.15);
  padding: 80px 15px;
  display: flex;
  flex-direction: column-reverse;
  gap: 42px;
}
@media (min-width: 992px) {
  #contact {
    padding: 80px 50px;
    flex-direction: row;
    gap: 0px;
  }
}
#contact article {
  width: 100%;
}
@media (min-width: 992px) {
  #contact article {
    width: 50%;
  }
}
#contact .contacts-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#contact .contacts-container h3 {
  font-weight: 600;
  font-size: 17px;
}
#contact .contacts-container h5 {
  font-weight: 400;
  font-size: 14px;
}
#contact .contacts-container .bottom-line {
  margin-top: 15px;
  height: 1.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  width: 90%;
}
#contact a {
  color: inherit;
  text-decoration: none;
}
#contact h2 {
  font-size: 31px;
  font-weight: 500;
}
#contact h2 span {
  position: relative;
}
#contact h2 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0.5);
  background-color: black;
}
#contact form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#contact .form-control-flex {
  display: flex;
  gap: 18px;
}
#contact .form-control {
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  background-color: white;
}
#contact .form-area {
  height: 100px;
  background-color: white;
}
#contact input, #contact textarea {
  width: 100%;
  height: 100%;
  min-height: 100%;
  border: 1.5px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  padding: 5px 10px;
  resize: vertical;
  color: inherit;
  background: transparent;
}
#contact input::placeholder, #contact textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#contact .form-submit {
  background-color: #8b26db;
  border-radius: 4px;
  width: 60%;
  align-self: flex-end;
  color: white;
}
#contact .form-submit input {
  border: none;
  font-weight: 600;
}

.loader-wrapper {
  background-color: white;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #8b26db;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0, calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px, calc(0 * var(--d)) calc(1 * var(--d)) 0 2px, calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px, calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px, calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px, calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

/*# sourceMappingURL=index.css.map */
